<div class="playlist">
  <ul class="songs">
    <% @playlist.songs.each do |song| %>
      <li>
        <%= render partial: 'songs/song', locals: { song: song } %>
      </li>
    <% end %>
  </ul>
</div>